input.invalid{
    border: 1px solid red;
}
small{
    display: flex;
    
    font-size: 16px;
    color: red;
   
}
.radioadjust1{
    
    font-size: 20px;
    display: flex;
    margin-left: 650px;
    margin-top: -30px;
    padding-bottom: 10px;
    
}
.radioadjust2{
    
    font-size: 20px;
    display: flex;
    margin-left: 270px;
}
.Pay-text{
    text-align: start;
    margin-left: 270px;
}

